*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    background-color: rgb(227, 238, 238);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

li{
    display: flex;
    align-items: center;
    font-size: 140%;
}

h1{
    color: rgb(0, 183, 255);
}

h2{
    margin-top: 10%;
}

.container{
    display: grid;
    grid-template-areas:
    "card card";
    grid-template-columns: auto auto auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card{
    display: grid;
    border-radius: 3%;
    text-align: center;
    grid-template-rows: auto auto auto auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    transition: width 0.3s, height 0.3s;
}

.card:hover {
    transform: scale(1.15);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
  }

  #elite:hover{
    transform: scale(1.15);
    border-style: solid;
    border-color: rgb(230, 212, 56);
    border-width: 3px;
  }

.select-plan{
    font-size: 120%;
    border-radius: 6px;
    width: 70%;
    height: 40px;
    color: rgb(0, 183, 255);
    background-color: white;
    border-color: rgb(0, 183, 255);
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.select-plan:hover {
    color: white;
    background-color: rgb(0, 183, 255);
    cursor: pointer;
  }

ul li.first-child{
    font-weight: 30%;
}

.material-symbols-outlined{
    margin-right: 10px;
}