.form-fale-conosco{
    display: flex;
    flex-direction: column;
}

.form-item{
    padding: 5px;
    margin: 1px;
}
.form-button{
    display: flex;
    align-items: end;
}

.container{
    background-color: #e3f0f0;

}

#limpar-button{
    background-color: #ccc;
}

#enviar-button{
    background-color: #53009e;
}